.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px; 
  align-items: center;
}

.features .chatBot,
.features .ImageUpload,
.features .LabsNearMe,
.features .fertilizerPredictor {
  height: 455px;
  width: 505px; /* Adjust card width with margins */
  margin-bottom: 50px; /* Adjust margin between rows */
}

.features .chatBot:nth-child(2n),
.features .ImageUpload:nth-child(2n),
.features .LabsNearMe:nth-child(2n),
.features .fertilizerPredictor:nth-child(2n) {
  margin-right: 20px; /* Adjust margin between cards within the rows */
}
